@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
:root {
    --white: hsl(0, 0%, 100%);
    --light-blue: hsl(227, 100%, 98%);
    --blue-100 : hsl(212, 100%, 50%);
    --light-blue-200: hsl(217, 20%, 51%);
    --dark-blue-400: hsl(217, 35%, 45%);
    --dark-blue-600: hsl(222, 41%, 20%);
    --vary-dark-blue-200: hsl(217, 21%, 21%);
    --very-dark-blue-400: hsl(220, 40%, 13%);
    --font-size: 15px;
}

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}

body {
    background-color: var(--very-dark-blue-400);
    color: var(--light-blue);
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    /* transition: all 0.5s ease-in-out; */
}



a {
    text-decoration: none;
    color: var(--blue-100);
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
body {
    flex-direction: column;

}

.bg-dark {
    background-color: var(--ver-dark-blue-400);
}


.text-accent-not-available {
    color: rgb(165, 164, 164);
}
.text-accent-available {
    color: var(--white);
}

.bg-primary {
    background-color: var(--dark-blue-600);
}
.column-flex {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.p-2 {
    padding-top: 2rem;
}

.container {
    /* width: 48rem; */
    /* max-width: 80vw; */
    gap: 3rem;
    position: relative;
}

.nav {
    justify-content: space-between;
    margin-bottom: 1rem;
    width: 44%;
}
.flex-row {
    display: flex;
    align-items: center;
}

.bg-change {
    display: flex;
    gap: 1rem;
    align-items: center;
    cursor: pointer;
}
.current-bg, .bg-icon {
    transition: all 0.5s ease-in-out;
}

.bg-change:hover{
    transition: all 0.5s ease-in-out;
}
/* .bg-change img {
    width: 100%;
    height: 100%;
} */
.search-container {
    border-radius: 10px;
}
.search-form {
    /* width: 100%;
     */
     /* flex:2; */
     position: relative;
     /* gap: 2rem; */
     /* padding: 1rem 0.7rem; */
     width: 100%;
     padding: 0 1rem;


}


.search-form label {
    position: absolute;
    left: 4rem;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    transition: all 0.3s ease-in-out;
    /* z-index: 0; */
}


label.move {
    transform: translate(-50%, -150%);
}

.bg-dark {
    background-color: var(--very-dark-blue-400);
    border-radius: 10px;
}
img.search-icon {
    width: 1.5rem;
    height: 1.5rem;
}


#search {
    width: 100%;
    background-color: inherit;
    /* outline: none; */

    border: none;
    height: 100%;
    /* height: 20rem; */
    color: white;
    border-radius: 10px;
    font-size: 1.2rem;
    padding: 1rem 1.5rem;
}

#search:focus{
    outline: none;
    color: white;
}

.bg-secondary {
   background-color: var(--blue-100);
}

.btn {
    padding: 0.7rem 1.5rem;
    border: none;
    border-radius: 8px;
    color: var(--white);
    font-size: 1rem;
    font-weight:600;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.btn:hover {
    background-color: rgba(182, 182, 189,0.5);
}

.text-accent {
    color: rgba(255, 255, 255, 0.5);
}

.profile img.profile-img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}
.result-container {
    border-radius: 10px;
}
.result-container .result-content {
    padding: 2.5rem;
    /* padding-right: 5rem; */
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    gap: 2rem;
}

.result-container .result-content .profile-details {
    gap: 5rem;
    /* padding: 2rem; */
    /* padding-right: 3rem; */
    /* justify-content: space-between; */
}

.result-container .result-content .profile-details .top-details {
    justify-content: space-between;
    align-items: flex-start;
}


.name {
    display: flex;
    flex-direction: column;
    gap:0.3rem;
}

.result-container .result-content .profile-details .bottom-details .stats .stats-items {
    padding: 1rem 2rem;
    display: flex;
    /* gap: 4rem;
    jus */
    justify-content: space-between;
}

.align-column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: .9rem;
}
.bold {
    font-weight: 700;
    font-size: 1.3rem;
}

.row {
    /* gap: 7rem; */
    justify-content: space-evenly;
    gap: 2rem;
}

.gap-1 {
    gap: 1rem;

} 
.row img {
    /* font-size: 0.9rem; */
    width: 1.1rem;
}

.h4 {
    word-wrap: break-word;
    width: 13rem;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}
/* input {
    background-color: transparent !important;
} */

/* light mode */
body.light {
    background-color: var(--light-blue);
    color: black;
    transition: all 0.5s ease-in-out;
}

.search-container.light {
    background-color: var(--white);
    transition: all 0.5s ease-in-out;
} 

.result-container.light {
    background-color: var(--white);
    transition: all 0.5s ease-in-out;
}

label.light {
    color: rgb(22, 21, 21);
    transition: all 0.5s ease-in-out;
}

.bio.light  {
    transition: all 0.5s ease-in-out;
    color: rgb(22, 21, 21);
}

.stats.light {
    /* transition: all 0.5s ease-in-out; */
    background-color: var(--light-blue);
}

.h4.light {
    transition: all 0.5s ease-in-out;
    color: rgb(22, 21, 21);
}

.alert {
    /* display: none; */
    opacity: 0;
    width: 10rem;
    top: 22.8%;
    left: 78%;
    position: absolute;
    /* display: inline; */
    
}

.alert.show {
    opacity: 1;
    transition: all 0.4s ease-in-out;
    /* display: block; */
    position: absolute;
    top: 23%;
    left: 78%;
    color: rgb(235, 62, 62);
}

/* mobile */

@media screen and (max-width:600px) {
    /* body {
        background-color: red;
    } */

    .container {
        max-width: 98vw;
        padding: 2rem 1rem;
        /* flex-direction: column; 
        /* margin: auto; */
        margin-left: 2rem;
    }
    .row {
        flex-direction: column;
        /* justify-self: end; */
        align-self: flex-start;
        /* gap: 1rem; */
    }
    .profile {
        grid-row: 1;

        /* grid-column: 1/1;
         */
         /* height: 1rem; */
    }
    .profile img.profile-img {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
    }
    .top-details {
        flex-direction: column;
        gap: 0.5rem;
    }
    
    
    .stats-items {
        max-width: 10%;
    }
    .profile-details {
        gap: 2rem;
    }

    .bottom-details {
        /* width: 20rem; */
        transform: translate(-35%);
    
    }
    .stats .stats-items {
        /* width: 50vw; */
        gap: 1rem;
    }
    .stats {
        max-width: 95%;

    }
}